.container {
    text-align: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 1em;
}
.btnReset {
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    margin-top: 2em;
    padding: 1em 1.5em;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color .3s;
    &:hover {
        background-color: #1f8537;
    }
}